{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div id="err" class="col s12 m4 offset-m4">
        <div class="card red white-text">
            <div class="card-content">
                {{message}}
            </div>
            </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %} 
<div class="alert alert-danger">{{error}}</div>
{% endif %} 

{% if msg %} 
<div class="alert alert-danger">{{msg}}</div>
{% endif %} 