<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Materialize css icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      

         <!--Leaflet stuff-->
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
         <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
                 
        <title>Groupiee</title>
    </head>
<body>
    
     <!--Nav bar-->
     <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#" class="brand-logo">Groupiee</a>
            <ul id="nav-mobile" class="right">
                <li><a href="index">Home</a></li>
                <li><a href="search_destination">Search</a></li>
            
            </ul>
        </div>
    </nav>
<!--THIS PAGE IS CURRENTLY STATIC FOR SHOWCASE PURPOSES ONLY
In the future this will interface with a travel API-->
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s2">
                        <select id="departure">
                            <option value="0" selected>New York City(NYC)</option>
                            <option value="1">Moscow(MOW)</option>
                            <option value="2">Kolkata(CCU)</option>
                            <option value="3">Delhi(DEL)</option>
                            <option value="4">Mumbai(BOM)</option>
                            <option value="5">Chennai(MAA)</option>
                          </select>
                         
                    </div>
                    <div class="input-field col s2">
                        <select id="arrival">
                            <option value="0">New York City(NYC)</option>
                            <option value="1" selected>Moscow(MOW)</option>
                            <option value="2">Kolkata(CCU)</option>
                            <option value="3">Delhi(DEL)</option>
                            <option value="4">Mumbai(BOM)</option>
                            <option value="5">Chennai(MAA)</option>
                          </select>
                         
                    </div>
                    <!--Departure-->
                    <div class="input-field col s2">
                        <input type="date" id="depart_date" placeholder="yyyy-mm-dd">
                    </div>
                    <!--Travellers-->
                    <div class="input-field col s2">
                        <input type="number" id="travellers" placeholder="Travellers">
                    </div>
                    <div class="input-field col s2">
                        <select id="cabin_class">
                            <option value="1" selected>Economy</option>
                            <option value="2">Prem. Economy</option>
                            <option value="3">Business</option>
                          </select>
                         
                    </div>
                    <div class="input-field col s2">
                        <button id="search" onclick="Search()"
                        class="btn-large waves-effect waves-dark red" type="submit">Search</button>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        <!--Flights Currently Listing capibilities possible-->
        <div id="airlines" class="col m12"></div>

    <script src="{{url_for('static', filename='bookings.js')}}"></script>
</body>
</html>