<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

         <!--Leaflet stuff-->
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
         <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
                 
        <title>Groupiee</title>
    </head>
<body>
    <!--Nav bar-->
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#" class="brand-logo">Groupiee</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="destinations.html">Destinations</a></li>
                <li><a href="index.html">Home</a></li>

            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col m4 offset-m2">
            
            
            
              <h4>Search for your destination</h4>  
            <div class="inputfield" style="width: 1000px;">
                <input type="text" placeholder="Search">
            </div>
                    <!--Map stuff-->
            <div id="map" class="center" style="height:500px;width: 1000px;"></div>
            <script src="./js/map.js"></script>
            
     
        </div>
    </div>
    
    
</body>
</html>