{% include '/includes/_messages.html' %}
{% for destination in destinations %}
<div>
    <form action="/add_user_to_destination" method="post">
    <h1><input type="hidden" name="name" value="{{destination['name']}}">{{destination['name']}}</h1>
    <button type="submit">Add to Visiting</button>
    </form>
    <br>
    {{destination['description']}}
    <br>
    <h6>Users visiting</h6>
    {% for user in destination['users'] %}
    <a href="/profile/{{user}}">{{user}}</a>
    {% endfor %}
</div>
{% endfor %}