<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Materialize css icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
             
        <title>Groupiee</title>
    </head>
<body>
    <div class="row">
        <div class="col m3">
            <div class="card horizontal" style="border-radius: 6%;">
                <div class="card-image">
                    <img src="/file/sample_1.jpg" alt="" style="border-radius: 10%;width: 100px;height: 100px; margin: 5px;">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Alex
                    </div>
                </div>
            </div>
            <div class="card">
                <!--Home-->
                <div class="card-content">
                    <div class="card-title">
                        <i class="small material-icons grey-text text-darken-1">home</i>
                        <a href="index" class="grey-text text-darken-1">Home</a>
                    </div> 
                </div>
                <hr>
                <!--People-->
                <div class="card-content">
                    <div class="card-title">
                        <i class="small material-icons grey-text text-darken-1">people</i>
                        <a href="index" class="grey-text text-darken-1">People</a>
                    </div> 
                </div>
                <hr>
                <!--Photos-->
                <div class="card-content">
                    <div class="card-title">
                        <i class="small material-icons grey-text text-darken-1">photo</i>
                        <a href="index" class="grey-text text-darken-1">Photos</a>
                    </div> 
                </div>
                <hr>
                <!--News-->
                <div class="card-content">
                    <div class="card-title">
                        <i class="small material-icons grey-text text-darken-1">forum</i>
                        <a href="index" class="grey-text text-darken-1">News feed</a>
                    </div> 
                </div>
                <hr>
                <!--Proflie-->
                <div class="card-content">
                    <div class="card-title">
                        <i class="small material-icons grey-text text-darken-1">face</i>
                        <a href="index" class="grey-text text-darken-1">Profile</a>
                    </div> 
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>