<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Materialize css icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
             
        <title>Groupiee</title>
    </head>
<body>
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#" class="brand-logo">Groupiee</a>
            
        </div>
        
    </nav>

    <div class="container center">
        <div class="divider"></div>
        <div class="valign-wrapper"style="min-height: 100vh;"">
            <div class=" section valign  center-block"  ">
                <h5> No matter where in the world you want to go, we can help get you there</h5>
                <button type="submit" id="submitbtn" onclick="signup()"
                            class="btn-large waves-effect waves-dark red">Let's Explore</button>
          

                
            </div>
            <div class="section center" >
                <h5>
    
                </h5>
                
            </div>
            
        </div>
        
    </div>
  
  
</body>
</html>