<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Materialize css icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      

         <!--Leaflet stuff-->
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
         <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
                 
        <title>Groupiee</title>
    </head>
<body>
    <div class="row">
        <div class="col m3">
            <div class="card horizontal" style="border-radius: 6%;">
                <div class="card-image">
                    <img src="/file/sample_1.jpg" alt="" style="border-radius: 10%;width: 100px;height: 100px; margin: 5px;">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Alex
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <ul class="right">
                        <li><a href="index">Home</a></li>
                        <li><a href="search_destination">Search</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>