<!--Dashboard-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
         
         <!--Materialize css icons-->
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Groupiee</title>
    </head>
<body class="grey lighten-3">
     <!--Nav bar-->
     <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#" class="brand-logo">Groupiee</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/index">Home</a></li> 
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/search_destination">Search</a></li>

            </ul>
        </div>
    </nav>

    {% include 'includes/_messages.html' %}

    <!--Flight booking button discontinued :p
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="bookings">
          <i class="large material-icons">flight_takeoff</i>
        </a>
      </div>-->
<!--1st column-->
    <div class="row">
        <div class="col s12 m4">
        
            <div class="card">
                <div class="card-image">

                        <img src="/file/{{pfp_src}}">
                  
                </div>
                <div class="card-content">
                    <!--The Name and other stuff-->
                    <div class="card-title">{{username}}</div>
                        <!--Followers and following-->
                    Followers: 10  Following: 20<br> 
                    <!--
                     Email button but not really needed :p
                     <button id="Email"
                     class="btn-small waves-effect waves-dark red">
                     <a class="white-text" href="mailto: testemail@gmail.com"> Email</a></button>-->
                    <br>
                    {% if not session['verified']%}
                    <button type="button" class="btn btn-small green"><a href="/verify_user" class="white-text">Verify your identity</a></button>
                    {% endif %}
                   
                </div>
        
            </div>
        
        </div>
        <!--2nd column-->
        <div class="col s12 m4">

            <div class="row">
                <!--Showing potential travel buddies-->
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">People with similar interests</div>
                    </div>
                    <!--In the future this will be AI generated.
                    Clicking on the pics will lead to their respective profiles-->
                    <a href="#meow">
                        <img src="/file/sample_1.jpg" alt="" class="circle" style="width:100px; height:100px; margin: 10px;">
                    </a>
                    <a href="#hic">
                        <img src="/file/andaman_sample.png" alt="" class="circle" style="width:100px; height:100px; margin: 10px;">
                    </a>
                    <a href="#bruh">
                        <img src="/file/mumbai_sample.png" alt="" class="circle" style="width:100px; height:100px; margin: 10px;">
                    </a>
                    <a href="#miao">
                        <img src="/file/shimla_sample.png" alt="" class="circle" style="width:100px; height:100px; margin: 10px;">
                    </a>
                    
                    
                    

                </div>
                <!--Will show the pics that the user has shared in the future-->
            <div class="card">
                <div class="card-content">
                   <div class="card-title">Your Memories</div>
                </div>
                
                <!--Vellore-->
                <div class="card">
                    <div class="card-image">
                        <img src="/file/vellore_sample.png" style="width: 100%;height: 100%;" alt="">
                        
                    </div>
                    <div class="card-content">
                       <div class="card-title" >At vellore</div>
                    
                    </div>
            
                </div>
                <!--Mumbai-->
                <div class="card">
                    <div class="card-image">
                        <img src="/file/mumbai_sample.png" style="width: 100%;height: 100%;" alt="">
                        
                    </div>
                    <div class="card-content">
                       <div class="card-title">Taj Hotel :)</div>
                        
                    </div>
            
                </div>
                 <!--Andaman-->
                 <div class="card">
                    <div class="card-image">
                        <img src="/file/andaman_sample.png"style="width: 100%;height: 100%;" alt="">
                        
                    </div>
                    <div class="card-content">
                       <div class="card-title">Just look at the clear waters of Andaman :o</div>
                       
                    </div>
            
                </div>
                 <!--Shimla-->
                 <div class="card">
                    <div class="card-image">
                        <img src="/file/shimla_sample.png" style="width: 100%;height: 100%;" alt="">
                        
                    </div>
                    <div class="card-content">
                       <div class="card-title">Seeing snow in the first time in Shimla :D</div>
                        
                    </div>
            
                </div>

                </div>
            </div>
        
        
        </div>
<!--3rd column-->
        <div class="col s12 m4">
            <!--Planning to visit-->
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Planning to Visit</div>
                    </div>
                    {% for destination in visiting_destinations %}
                    <div class="card horizontal">
                        <div class="card-content">
                            <form method="post" action="/delete_user_from_destination">
                            <div class="card-title">
                                <input name="name" type="hidden" value="{{destination['name']}}">
                                {{destination['name']}}
                            </div>
                            {{destination['description']}}
                            <br>
                            <button type="submit" class="btn-small waves-effect waves-dark red">Remove</button>
                        </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        


    </div>

</body>
</html>